.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  overscroll-behavior-x: none;
}
body{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: red;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}





.navBarParentDiv {
  display: flex;
  position: fixed;
  gap: 1%;
  background-color: #1111119d;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 75px;
}
.navBarParentDiv img{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}
.navSettings{
  display: flex;
  margin-left: 450px;
  margin-top: 20px;
}
.settingIconLink{
  text-decoration: none;
}
.navSettingsLogoutDiv{
  margin-left: 1px;
  margin-top: -4px;
}
.navSettingsLogoutDiv button{
  background-color: #11111100;
  font-size: large;
  color: white;
  border: none;
  width: 100px;
  height: 50px;
}
.searchBarParentDiv{
  margin-left: 50px;
  margin-top: 30px;
}
.searchInput[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
}
.searchInput[type=text]:focus{
  outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.searchInput[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 500px;
   height: 20px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
  }

.searchInput[type=text]:focus {
   outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}




.userProfileParentDiv{
  width: auto;;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.userProfileGridContainer{
  margin-left: 270px;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 50px;
  margin-top: 20px;
}
.userProfileChildDiv{
  background-color: #151515ad;
  border-radius: 15%;
  height: 300px;
  width: 400px;
  margin-top: 100px;
}
.userProfileChildDiv:hover{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(255, 255, 255);
}
.userProfileSettingInputs[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 0px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 300px;
   height: 30px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
}
.userProfileSettingInputs[type=text]:focus{
  outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.userProfileSettingInputs[type=password]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 0px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 300px;
   height: 30px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
}
.userProfileSettingInputs[type=password]:focus{
  outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.userProfileSettingNameDiv{
  margin-top: 10px;
}
.updateBtn{
  margin-top: 10px;
  width: 200px;
  border-radius: 15%;
  background-color: rgba(255, 255, 255, 0.492)
}
.deactivateBtnDiv{
  margin-top: 60px;
}
.deactivateBtn{
  width: 200px;
  height: 50px;
  border-radius: 15%;
  background-color: rgba(255, 255, 255, 0.492)
}
.deactivateBtn:hover{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(255, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(255, 0, 0);
}





.homepageTrailerDiv{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.homepageParentDiv{
  position: relative;
  margin-top:700px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  )
}
.homepageHeaders{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-left: 15px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.checkOutLinkh1{
  color: red;
  text-decoration: none;
}
.checkOutLink2{
  margin-left: 15px;
  color: red;
}
.checkOutLinkh1:hover{
  text-decoration: none;
}
.checkOutLink2:hover{
  color: white;
}
.homepageSlideContainer{
  width: 50%;
  position: relative;
}
.arrow{
  width: 50px;
  height: 50px;
  padding: 2px;
  position: absolute;
  bottom: calc(50% - 10px);
  z-index: 3;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 50px;
  background-color: rgba(5, 5, 5, 0.526);
  transition: opacity 0.5s ease;
}
#left-arrow{
  left: calc(17% - 120px);

}
#right-arrow{
  right: calc(-83% - 120px);
}
.slider{
  width: 1428px;
  height: 325px;
  /* padding-left: 40%; */
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden ;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}
.slider::-webkit-scrollbar{
      display: none;
}
.homepageSlideImg{
  min-width: 220px;
  transition: transform .2s;
}
.homepageSlideImg img{
  height: 280px;
  width:200px;
  border-radius: 5%;
}
.homepageSlideImg img:hover{
  color: #111;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}



.selectedMovieTrailerDiv{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.selectedMovieInfoParentDiv{
  position: relative;
  margin-top:700px;
  display: flex;
  width: auto;
  height: 250px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.selectedMovieErrorDiv{
  width: auto;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.selectedMovieInfoChildDiv{
  flex: 1;
}
.selectedMovieInfoChildTextDiv{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  height: 25px;
  margin-left: 1%;
}
.selectedMovieInfoChildTextDiv img{
  height: 280px;
  width: 200px;
  border-radius: 5%;
}
.selectedMovieInfoChildTextDivTwo{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  height: 40px;
}
.selectedMovieInfoChildTextDivThree{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  height: 40px;
  margin-left: 70px;
}
.movieCastImgsParentDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
}
.movieCastParentDiv{
  display: table-cell;
}
.movieCastParentDiv img{
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(255, 255, 255);
  width: 190px;
  height: 190px;
}
.movieCastImgChildDiv{
  position: relative;
  display: inline-block;
}
.movieCastImgTextDiv{
  display: none;
  font-size: xx-large;
}
.movieCastImgChildDiv:hover .movieCastImgTextDiv{
  cursor: pointer;
  width:100%;
  height:100%;
  border-radius: 50%;
  background:rgba(0,0,0,.5);
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.movieCastImgTextDiv h6{
  margin-top: 40%;
}
.moviePageGridContainer{
  margin-left: 64px;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 50px
}
.castLink{
  color: #fff;
}



.reviewParentDiv{
  display: flex;
  width: auto;
  height: 550px;
}
.reviewChildDiv{
  flex: 1;
}
.reviewChildTextDiv{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-left: 10px;
}
.reviewChildScrollDiv{
  height: 420px;
  width: 815px;
  overflow-y: scroll;
}
.reviewChildScrollDiv::-webkit-scrollbar{
  width: 12px;
}
.reviewChildScrollDiv::-webkit-scrollbar-track{
  background: rgb(0, 0, 0);
}
.reviewChildScrollDiv::-webkit-scrollbar-thumb {
  background-color: rgba(74, 74, 74, 0.273);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(74, 74, 74, 0.283);  /* creates padding around scroll thumb */
}




.reviewCardParentDiv{
  display: flex;
  margin-left: 10px;
}
.reviewCardParentDiv img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.reviewCardChildTextDiv{
  margin-left: 10px;
}
.reviewCardText{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
}
.reviewCardChildReplyBtnDiv{
  display: flex;
  gap: 10px;
}
.noReviewsText{
  color: red;
}



.replyCardParentDiv{
  display: flex;
  margin-left: 10px;
}
.replyCardParentDiv img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.replyCardChildTextDiv{
  margin-left: 10px;
}
.replyCardText{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin: 0;
}
.replyCardChildCommentBtnDiv{
  display: flex;
  gap: 10px;
}





.commentCardParentDiv{
  display: flex;
  margin-left: 10px;
}
.commentCardParentDiv img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.commentCardChildTextDiv{
  margin-left: 10px;
}
.commentCardText{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin: 0;
}





.addReplyInput[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 530px;
   height: 30px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
}
.addReplyInput[type=text]:focus{
  outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.replySubmitBtn{
  color: rgba(255, 255, 255, 0.463);
  border: 0px solid;
  background-color: transparent;
  font-size: larger;
  margin-left: 15px;
}




.addCommentInput[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 530px;
   height: 30px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
}
.addCommentInput[type=text]:focus{
  outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.commentSubmitBtn{
  color: rgba(255, 255, 255, 0.463);
  border: 0px solid;
  background-color: transparent;
  font-size: larger;
  margin-left: 15px;
}




.reviewInput[type=text]{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   color: #000000;
   background-color: #504d4d95;
   width: 730px;
   height: 30px;
   padding-left: 10px;
   font-size: larger;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgb(247, 247, 247);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(255, 255, 255);
  }

.reviewInput[type=text]:focus {
   outline: none;
   border: 1px solid #000000;
   color: #ffffff;
}
.reviewSubmitBtn{
  color: rgba(255, 255, 255, 0.463);
  border: 0px solid;
  background-color: transparent;
  font-size: larger;
  margin-left: 50px;
}




.reviewFeaturedMovieChildDiv{
  flex: 1;
}
.reviewFeaturedMovieH1Text{
  margin-left: 60px;
}
.reviewFeaturedMoviePoster{
  height: 500px;
  width: 400px;
  border-radius: 5%;
  margin-left: 60px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 40px rgb(255, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 40px rgb(255, 0, 0);
}




.genreMovieListParentDiv{
  width: auto;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.genreMovieListGridContainer{
  margin-left: 64px;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 50px;
  margin-top: 60px;
}





.actorsPageParentDiv{
  width: auto;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  )
}
.actorGridContainer{
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 40px
}
.actorGridImgs{
  cursor: pointer;
  height: 280px;
  width: 240px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.actorGridImgs .actorGridImgsFadeBox {
  background-color: #111;
  opacity: 5;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  height: 280px;
  width: 240px;
  border-radius: 5%;
  /* padding: 0px 0px; */
}
.actorGridImgs:hover .actorGridImgsFadeBox {
  opacity: 0.8;
}
.actorGridImgs .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  font-size: xx-large;
  margin-top: 65px;
}
.actorGridImgs .title {
  text-shadow: 5px 5px #111;
  text-transform: uppercase;
  opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.actorGridImgs:hover .title,
.actorGridImgs .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.actorGridImgs img{
  height: 280px;
  width:240px;
  border-radius: 5%;
}
.actorPageParentDiv{
  display: flex;
  width: auto;
  height: 450px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  )
}
.actorPageChildDiv{
  flex: 1;
  margin-top: 100px;
}
.actorPageChildImgDiv{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-left: 100px;
}
.actorPageChildImgDiv img{
  height: 520px;
  width: 390px;
  border-radius: 5%;

}
.actorPageNameDiv{
  height: 25px;
  width: 900px;
  margin-top: 10%;
  font-size: 50px;
}
.actorPageNameDivTwo{
  height: 25px;
  width: 900px;
  margin-top: 12%;
  font-size: 50px;
}
.actorPageParentDivTwo{
  display: flex;
  margin-top: 10%;

}
.actorPageChildDivTwo{
  margin-left: 100px;
}
.actorPageParentDivThree{
  width: auto;
  height: 500px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 10%,
    red 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.actorPagePostersDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  margin-top: 100px;
}
.actorPagePostersDiv img{
  border-radius: 5%;
  width: 390px;
  height: 520px;
}
.actorPagePostersDiv img:hover{
  background: rgb(255, 255, 255);
  box-shadow: 0 0 30px rgb(255, 255, 255);
}




.actorsPagePostersDiv{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
}
.actorsGridContainer{
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 40px;
  margin-top: 85px;
}
.actorsPagePostersDiv img{
  border-radius: 5%;
  width: 390px;
  height: 520px;
}
.actorsPagePostersDiv img:hover{
  background: rgb(255, 255, 255);
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

.reviewHr{
  background-color: rgba(255, 255, 255, 0.728);
  height: 4px;
  border: none;
}
.replyHr{
  background-color: rgba(61, 61, 61, 0.869);
  height: 4px;
  border: none;
}
.commentHr{
  background-color: red;
  height: 4px;
  border: none;
}

.deactivateFormDiv{
  margin-top: 200px;
}